[submodule "csnetlib2"]
	path = csnetlib2
	url = https://github.com/baggykiin/csnetlib2.git
[submodule "ircsharp"]
	path = ircsharp
	url = https://github.com/baggykiin/ircsharp.git
[submodule "Curse.NET"]
	path = Curse.NET
	url = https://github.com/Baggykiin/Curse.NET.git
